*{
	box-sizing:border-box;
	padding: 0px;
	margin:0px;
}
html, body {
	width: 100%;
	height: 100%;
}
body{
	padding:0px;
	margin:0px;
	font-family: montserrat, sans-serif;
}

#contenedor{
	height: 100%;
	width:100%;
	/*background-image: url(../img/header.jpeg);
	background-size: cover;*/
	
}

header{
	width:100%;
	height: 100%;
	position:relative;
	overflow: hidden; /*se aplica para que la imagen contenida en dicho contenedor no sobresalga por abajo y tape el 
	contenido de .about_contenedor*/
	z-index:1000; /*Se aplica para poner la barra del menu por encima de todo el home site. Se situa encima de todo*/
	
}

header img{
	max-width: 100%;
	height: auto; /*he alterado el order del height y del width para que no hay hueco con la seccion siguiente*/
	z-index: 1;

}

strong{
	color: steelblue;
}

/*-------  Menu  ---------*/


nav{
	position: fixed;
	display: inline-block;
	width:100%;
	height:6.75%; /*Vericar. Esta linea se añade para mitigar los cambios de tamaño que produce el :hover. Tambien se ha cambiado al aumentar el porcentage del tamaño del header con respecto a su contenedor*/
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;	
}

nav ul{
	list-style-type: none;
	
}

nav li{
	display:inline;
	float: right;
}

nav li a {
	display: inline-block;
    color: white;
    font-size: 0.75em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
	border-bottom: 5px solid steelblue;
}

.contenedor-intro{
	
    position: absolute;
    color: #fff;
    width: 100%;
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid white;
    padding: 40px 50px;
    top: 50%;
    bottom: 10%;
    background: rgba(255, 255, 255, 0.25);
}

.intro{
	font-size: 3em;
	line-height: 0.9;
}

.intro2{
	font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    color: steelblue;
    padding-top: 25px;
   
}
/*---------------------------------------------header--------------------------------------------*/


/*---------------------------------------------Content--------------------------------------------*/

.aboutme-contenedor{
	height: 90%;
	width: 100%;
	position: relative;
}

.aboutme{
	height: 100%;
	width: 100%;
	position: absolute;
	color: white;
	background-color: black;
	/*padding: 20PX;*/
}

.aboutme > h3{
	text-align: center;
	padding: 40px 0px;
	color: steelblue;
	font-weight: 300;
}

.aboutme > p{
	text-align: center;
    font-size: 0.75em;
    line-height: 2;
    padding: 0 50px;
}

/*==================   recuadro    ===============*/

.aboutme-recuadro{
	position: absolute;
    width: 75%;
    height: 50%;
    /*border: 2px solid #c100c1;*/
    /* background-color: #181844; */
    /*border-radius: 5px;*/
    top: 46%;
    left: 14%;
}

.aboutme-recuadro1{
	height: 50%;
	width: 100%;
	/*background-color: orange;*/
	
	border-bottom: 1px solid steelblue;
}

.aboutme-recuadro2{
	height: 50%;
	width: 100%;
	/*background-color: aqua;*/
}


/*===================== Iconos Datos Personales =============*/

.iconos li{
    display: inline-block;
    width: 24%;
    /*padding-top: 25px*/
}

.fa-user-o {
    font-size: 1.5em;
    border: 2px solid steelblue;
    border-radius: 100px;
    padding: 10px;
    color:  steelblue;
    
}

.fa-user-o:before {
    content: "\f2c0";
    /*font-size: 20px;*/
}

.fa-birthday-cake {
    font-size: 1.5em;
    border: 2px solid steelblue;
    border-radius: 100px;
    padding: 10px;
    color:  steelblue;
}

.fa-birthday-cake:before {
    content: "\f2c0";
   /* font-size: 20px;*/
}

.fa-envelope-o {
    font-size: 1.5em;
    border: 2px solid steelblue;
    border-radius: 100px;
    padding: 10px;
    color:  steelblue;
}

.fa-envelope-o:before {
    content: "\f2c0";
    /*font-size: 20px;*/
}

.fa-home {
    font-size: 1.5em;
    border: 2px solid steelblue;
    border-radius: 100px;
    padding: 10px;
    color:  steelblue;
}

.fa-home:before {
    content: "\f2c0";
   /* font-size: 20px;*/
}

.datos_iconos li{
	display: inline-block;
    padding-top: 31px;
    width: 24%;
    font-size: 1em;
    color: white;  
}

/*===================== Iconos RRSS =============*/



.iconos_RRSS li{
	display: inline-block;
	width: 24%;
	padding-top: 60px;
}

.fa-instagram{
	color: steelblue;
}

.fa-facebook-square{
	color:steelblue;
}

.fa-pinterest{
	color:steelblue;
}

.fa-linkedin{
	color: steelblue;
}

.fa-instagram:hover{
	color: purple;
}

.fa-facebook-square:hover{
	color:#3b5998;
}

.fa-pinterest:hover{
	color:#cb2027;
}

.fa-linkedin:hover{
	color: #0077b5;
}

.fa-instagram:before {
    content: "\f16d";
    font-size: 30px;

}

.fa-facebook-square:before{
	 content: "\f16d";
    font-size: 30px;
}


.fa-pinterest:before {
    content: "\f16d";
    font-size: 30px;

}

.fa-linkedin:before{
	 content: "\f16d";
    font-size: 30px;
}
/*@media screen and (min-width: 2000px){

header img{
	max-width: 1500px;
}

}*/

/*--------------------------Skills-------------------*/

.skills_contenedor{
	width: 100%;
	height:100%;
	background-color: #1a1b1b;
}

.skills_contenedor h3{
	text-align: center;
	padding: 40px 0px;
	color: steelblue;
	font-weight: 300;
}